@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(100px);
    }
    50% {
        transform: translateX(-30px);
    }
    75% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(-30px);
    }
}

.shake-slow {
    animation: shake 100s infinite;
    transform-origin: center;
}
